<form [formGroup]="modelForm">
<div class = "content">
    <div class = "line">
    <label class="col-form-label">Name: </label><br>
    <input class="form-control" name="name" formControlName="name">
    <span *ngIf="name && name.invalid && name.touched">To pole nie może być puste</span>
    </div> 
    

    <div class = "line">
    <label class="col-form-label">Destination: </label><br>
    <input class="form-control" name="destination" formControlName="destination">
    <span *ngIf="destination && destination.invalid && destination.touched">To pole nie może być puste</span>
    </div>

    <div class = "line">
    <label class="col-form-label">Start date: </label><br>
    <input class="form-control" name="startDate" formControlName="startDate">
    <span *ngIf="startDate && startDate.invalid && startDate.touched">To pole nie może być puste</span>
    </div>
    
    <div class = "line">
    <label class="col-form-label">End date: </label><br>
    <input class="form-control" name="endDate" formControlName="endDate">
    <span *ngIf="endDate && endDate.invalid && endDate.touched">To pole nie może być puste</span>
    </div>

    <div class = "line">
    <label class="col-form-label">Price: </label><br>
    <input class="form-control" name="unitPrice" formControlName="unitPrice" >
    <span *ngIf="unitPrice && unitPrice.invalid && unitPrice.touched">To pole nie może być puste i może zawierac tylko cyfry!</span>
    </div>

    <div class = "line">
    <label class="col-form-label">People limit: </label><br>
    <input class="form-control" name="peopleLimit" formControlName="peopleLimit">
    <span *ngIf="peopleLimit && peopleLimit.invalid && peopleLimit.touched">To pole nie może być puste i może zawierac tylko cyfry!</span>
    </div>

    <div class = "line">
    <label class="col-2 col-form-label">Description: </label><br>
    <input class="form-control" name="description" formControlName="description">
    <span *ngIf="description && description.invalid && description.touched">To pole nie może być puste</span>
    </div>
        
    <div class = "btn-class">
    <button [disabled]="modelForm.invalid" class = "btn" type="submit" (click)="send()" >Send</button>
    </div>
    </div>
    </form>

    <nav>    
        <a routerLink="/travels"> Back To Travels </a>
    </nav>