*,
*::before,
*::after {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
  margin: 0;
  padding: 0;
}

body{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    background-color: aliceblue;
}

@media only screen and (max-width: 900px) {
    body {
        grid-template-columns: auto auto;
    }
}

#AData, #BData, #CData, #DData, #EData, #FData, #GData{
    box-sizing: border-box;
    box-shadow: 0.1rem 0.1rem 0.8rem rgba(0, 0, 0, 0.2);
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    font-weight: 700;
}

