.backgroundConf {
    min-height: 100vh;
    max-width: 100%;
    width: 100vw;
    height: 100%;
    background-image: url(../../assets/img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }

  .grid{
    display: grid;
    grid-template-columns: repeat(5,15%);
    column-gap: 20px;
    color: white;
    text-align: center;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

p{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 40px;
}

.box{
    width: 90%;
    /* margin: 100px auto; */
}

.grid > span{
    display: inline-block;
    padding: 40px;
    background-color: rgb(10, 103, 196);
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.grid > span:hover {
    background-color: rgba(139, 0, 0, 0.801);
}

.role:hover{
    transform: scale(1.1);
}

.clicked{
    background-color: darkred !important;
}

.upperMargin {
    padding-top: 10%;
}
