<h1>{{title}}</h1>
<div class="listHolder">
    <label for="standard-select">Brand: </label>
    <div class="select">
        <select id="standard-select" *ngIf="brands"  [(ngModel)]="selectedBrandId" (change)="onSelectBrand($any($event.target).value)"> 
            <option *ngFor="let brand of brands" value={{brand.id}}>{{brand.name}}</option>
        </select>
        <span class="focus"></span>
    </div>
</div>
<div class="listHolder">
    <label for="standard-select" *ngIf="selectedBrandId"> Models: </label>
    <div class="select">
        <select id="standard-select" *ngIf="selectedBrandId" [(ngModel)]="selectedModelId" (change)="onSelectModel($any($event.target).value)">
            <option *ngFor="let model of models" value={{model.id}}>{{model.name}}</option>
        </select>
        <span class="focus"></span>
    </div>
</div>
<div class="listHolder">
    <label for="standard-select" *ngIf="selectedModelId"> Colors: </label>
    <div class="select">
        <select id="standard-select" *ngIf="selectedModelId" [(ngModel)]="selectedColorId" (change)="onSelectColor($any($event.target).value)">
            <option *ngFor="let color of colors" [ngStyle]="{backgroundColor: color.name}" value={{color.id}}>{{color.name}}</option>
        </select>
        <span class="focus"></span>
    </div>
</div>


<h4 *ngIf="selectedColorId">{{car}}</h4>
