<body  class="backgroundConf">
    <app-nav-bar></app-nav-bar>
    <app-travels-filter (newItemEvent)="setRating($event)" (newItemEvent2)="setCountry($event)" (newItemEvent3)="setDays($event)" (newItemEvent4)="setPrice($event)"
[countryList]="countryList" [daysList]="dataDaysList" [priceList]="priceList"></app-travels-filter>
    <ul class="travels">
        <li *ngFor="let travel of (travelList | filterPipe :searchCountry: searchDays: searchPrice: searchRating)">
            <div *ngIf="travel && travel.unitPrice > 1500" class="travelHolder" id="greenBorder">
                <app-travel-details [travel]="travel"></app-travel-details>
                <app-travel-management [travel]="travel"></app-travel-management>
            </div>
            <div *ngIf="travel && travel.unitPrice <= 1500" class="travelHolder">
                <app-travel-details [travel]="travel"></app-travel-details>
                <app-travel-management [travel]="travel"></app-travel-management>
            </div>
        </li>
    </ul>
</body>
