<body class="backgroundConf">
    <app-nav-bar></app-nav-bar>
    <div class="myTravelsHolder">
        <div class="myTravelsHeader"> <div class="title">My Travels</div> </div>
        <ul class="myTravelsItems">
            <li *ngFor="let travel of myTravels">
                <div *ngIf="travel" class="myTravelsItemHolder" [ngStyle]="{'background-color': (currentDate > getEndDate(travel))? 'rgba(189, 0, 0, 0.400)' : 'rgba(0, 189, 0, 0.400)'}">
                        <div class="column">{{travel.name}}</div>
                        <div class="column">{{travel.quantity}}</div>
                        <div class="column">{{travel.startDate}}</div>
                        <div class="column">{{travel.endDate}}</div>
                        <div class="column">{{travel.price * travel.quantity}}</div>
                </div>
            </li>
        </ul>
    </div>
</body>