
#mainDiv {
    margin-top:2%;
    padding-bottom: 10px;
}

#minus , #plus{
    height:45px;
    width:45px;
    font-size: 25px;
    font-weight: 700;
    border: 1px black solid;
    border-radius:50%;
    background-color: rgba(6, 116, 226, 0.582);
}

#minus:hover{
    background-color:rgba(255, 0, 0, 0.753);    
    border:none;
}

#plus:hover{
    background-color:rgba(0, 128, 0, 0.719);
    border:none;
}

#numberPlace {
    margin-left:5px;
    margin-right:5px;
}

#submit {
    border:none;
    height:25px;
}

#bottom{
    margin-top: 90%;
}


#deleteButton {
    display: inline-flex;
    justify-self: right;
    width: 100px;
    height: 45px;
    cursor: pointer;
    bottom: 0px;
    right: 0px;
    margin-right: 0;
    background-color: red;
    border: 2px solid black;
    font-weight: 900;
    color: white;
    border-radius: 100px;
}

#deleteButton:hover{
    background-color: #f84848;
}


.btnDelWrapper {
    display: inline-flex;
    justify-content: right;
    padding-bottom: 20px;
    width: 100%;
}

.commentSettings {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: green;
}

.commentSettingsRed {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: red;
}

.commentSettingsWhite{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
    font-size: 25px;
    font-weight: 700;
}
