*{
    box-sizing: border-box;
}

form {
    margin-top: 325px;
    margin-bottom: auto;
}
.content{
    width: 98vw;
    display: inline-block;
    font-size: 20px;
    font-family: sans-serif;
    font-style: italic;
    box-sizing: border-box;
    font-weight: 700;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: #fff;
    background-color: rgba(238, 236, 236, 0);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    align-items: center;
    justify-content: center;
}

.form-control{
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 5px;
}

.col-form-label{
    margin-bottom: 10px;
}

.line{
    padding-left: 10px;
    padding-right: 10px;
}

.btn{
    border: none;
    background-color: rgba(6, 116, 226, 0.782);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
    padding: 7px;
    font-weight: 800;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}

.btn-class{
    text-align: center;
}

span{
    font-size: 15px;
    color: red;
    font-weight: 500;
    
}

.formButton{
    font-size: 20px;
    width: 100%;
    border: none;
    color: white;
    background-color: black;
    height: 30px;
    border-radius: 20px;
}

.backgroundConf {
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
