<body>
    <div class="navbar">
        <div class="leftButtons">
            <button class="leftButton" type="button" onclick="location.href='#'"> <strong>KOL</strong>UNIE</button>
        </div>
        <input type="checkbox" id="checkbox1" class="checkbox1 visuallyHidden">
        <label for="checkbox1">
            <div class="hamburger hamburger1">
                <span class="bar bar1"></span>
                <span class="bar bar2"></span>
                <span class="bar bar3"></span>
                <span class="bar bar4"></span>
            </div>
        </label>
        <div class="menu">
            <ol>
                <li><span class="midButton" routerLink="/home">Home</span></li>
                <li><span class="midButton" routerLink="/posts">Posts</span></li>
                <li><span class="midButton" routerLink="/photos">Photos</span></li>
              </ol>
        </div>
    </div>
</body>